
  :root {
    --radius-field: 0.75rem;
  }

  @import 'tailwindcss';
  @import 'tailwindcss';
  @plugin "daisyui" {
    themes: dim --default;
    exclude: rootscrollgutter;
  }

  .btn {
    border-radius: var(--radius-field);
  }

  .input, .textarea, .select {
    border: none;
    border-radius: var(--radius-field);
  }
